.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rbt-progress-parent {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px var(--black-opacity);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.rbt-backto-top-active {
  opacity: 1;
}

.rbt-progress-parent path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

button.back-to-top {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  display: none; /* Hide button initially */
}

.rbt-backto-top-active button.back-to-top {
  display: block; /* Show button when active */
}

form label {
  display: block; /* Ensures the label takes the full width */
  text-align: left; /* Aligns text to the left */
  margin-bottom: 5px; /* Adds spacing between the label and the input */
  font-size: 14px; /* Optional: Adjust font size */
  font-weight: 500; /* Optional: Adjust font weight */
  color: #333; /* Optional: Adjust color */
}
h3.title {
  text-align: left; /* Aligns the heading to the left */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: Makes the text bold */
  margin-bottom: 20px; /* Adds spacing between the heading and the form */
  color: #000; /* Optional: Adjust the color */
}

iframe#webpack-dev-server-client-overlay {
  display: none !important
}